extends layout

block content
    div
        p Use this link to turn files into links
        a(href='https://www.image2url.com/file-to-url' target='_blank') ImageToUrl
    br
    form(action=`/edit/${pet.id}` method='post')
        div.form-input
            label(for='name') Name:
            input(type='text' name='name' id='name' value=pet.name)
        div.form-input
            label(for='description') Description:
            input(type='text' name='description' id='description' value=pet.description)
        div.form-input
            label(for='image') Image:
            input(type='text' name='image' id='image' value=pet.image)
        div.form-input
            label(for='location') Last Known Location:
            input(type='text' name='location' id='location' value=pet.location)
        div.form-input
            label(for='phone') Phone Number:
            input(type='text' name='phone' id='phone' value=pet.phone)
        div.form-input
            label(for='date') Day the Pet was Lost:
            input(type='date' id='date' name='date' value=pet.date)
        button.button(class="submit" type='submit') Submit
        a.button(class="delete" href=`/delete/${pet.id}`) Delete
        a.button(class="cancel" href='/') Cancel