extends layout

block content
    h1 Sightings of Animals
    p This is the page where you can post and search for animal sightings. You must <i><b>login/register</i></b> to post sighting posters.
    if user
        a(class="addButton" href='/addSightings') Add pet
    div.filter-input
        form(action='/forum' method='get')
            div.form-input
                label(class="filterLabel" for='type') Type of Animal
                select(id='type' name='type' autocomplete='off')
                    each type in types
                        option(value=type selected=(type === searchtype)) #{type}
                button.filter-button(type='submit') Filter
    div.card-container
        each sighting in sightings
            div.card
                div.card-content
                    div.top
                        h2.sightingName= sighting.type
                    div.middle
                        div.petImageContainer
                            img(class="petImage" src=sighting.image)
                        div.petDescription
                            p.description= sighting.description
                    div.bottom
                        div.sightingInfo
                            p.address= `Last seen: ${sighting.location}`
                            if sighting.date
                                p.date= `Sighted on ${sighting.date}`
                    if user
                        if(user.id === sighting.uzer_id)
                            a(href=`/editSightings/${sighting.id}`) Edit pet