extends layout

block content
    if user
        a(class="addButton" href='/addSightings') Add pet
    div.filter-input
        label(for='type') Type of animal
        select(id='type' name='type' autocomplete='off')
            each type in types
                option(value=type selected=(type === searchtype)) #{type}
        button.button.filter(type='submit') Filter
    div.card-container
        each sighting in sightings
            div.card
                div.card-content
                    div.top
                        h2.sightingName= sighting.type
                    div.middle
                        div.petImageContainer
                            img(class="petImage" src=sighting.image)
                        div.petDescription
                            p.description= sighting.description
                    div.bottom
                        div.sightingInfo
                            p.address State and Address
                            p.date= sighting.date
                            p.otherInfo Other Info
                    if user
                        if(user.id === sighting.uzer_id)
                            a(href=`/editSightings/${sighting.id}`) Edit pet