extends layout

block content
  h1 Missing Pet Reports
  p This is the page where you can see and create missing pet reports.
  div.filter-input
    form(action='/' method='get')
      div.form-input
        label(class="filterLabel" for='type') Type of animal
        select(id='type' name='type' autocomplete='off')
          each type in types
            option(value=type selected=(type === searchtype)) #{type}
      button.filter-button(type='submit') Filter
  if user
    a(class="addButton" href='/add') Add pet
  p
  div.card-container
    each pet in pets
      div.card
        div.card-content
          div.top
            h2.petName= pet.name
          div.middle
            div.petImageContainer
              img(class="petImage" src= pet.image)
            div.petDescription
              p.description= pet.description
          div.bottom
            div.cardInformation
              div.specifics
                p.lastKnownLocation= `Last Known Location: ${pet.location}`
                p.date= `Lost Since: ${pet.date}`
              div.contactInfo
                p.phoneNumber= `Phone Number: ${pet.phone}`
          if user
            if(user.id === pet.uzer_id)
              a(href=`/edit/${pet.id}`) Edit pet