extends layout

block content
  div.container
    div.filter-input
      form(action='/' method='get')
        div.form-input
          label(class="filterLabel" for='type') Type of animal
          select(id='type' name='type' autocomplete='off')
            each type in types
              option(value=type selected=(type === searchtype)) #{type}
        button.filter-button(type='submit') Filter
  if user
    a(class="addButton" href='/add') Add pet
  div.card-container
    each pet in pets
      div.card
        div.card-content
          div.top
            h2.petName= pet.name
          div.middle
            div.petImageContainer
              img(class="petImage" src= pet.image)
            div.petDescription
              p.description= pet.description
          div.bottom
            div.cardInformation
              div.specifics
                div.lastKnownLocation
                  p= `Last Known Location: ${pet.location}`
                div.date
                  p= `Lost Since: ${pet.date}`
              div.contactInfo
                p.phoneNumber= `Phone Number: ${pet.phone}`
          if user
            if(user.id === pet.uzer_id)
              a(href=`/edit/${pet.id}`) Edit pet