extends ../layout

block content
    form(action=`/editSightings/${sighting.id}` method='post')
        div.form-input
            label(for='date') Date:
            input(type='text' name='date' id='date' value=sighting.date)
        div.form-input
            label(for='description') Description:
            input(type='text' name='description' id='description' value=sighting.description)
        div.form-input
            label(for='image') Image:
            input(type='text' name='image' id='image' value=sighting.image required)
        div.form-input
            label(for='location') Location:
            input(type='text' name='location' id='location' value=sighting.location required)
        button.button(class="submit" type='submit') Submit
        a.button(class="delete" href=`/deleteSightings/${sighting.id}`) Delete
        a.button(class="cancel" href='/forum') Cancel