mixin sightingForm(animal, actionURL, mode)

    form(method="post" action=actionURL)
        label(for="petName") Pet's Name
        input(type="text" id="petName" name="petName" value=missing.petName)

        label(for="imageCheck") Image?
        input(type="checkbox" id="imageCheck" name="imageCheck" value=missing.imageTorF)

        label(for="image") Image URL
        input(type="text" id="image" name="image" value=missing.image)

        label(for="animalDescription") Description
        input(type="text" id="animalDescription" name="animalDescription" value=missing.description)

        label(for="addressLine1") Last Seen Address
        input(type="text" id="addressLine1" name="addressLine1" value=missing.lastKnownAddress)

        label(for="city") City
        input(type="text" id="city" name="city" value=missing.city)

        lable(for="state") State (CA, WA, etc.)
        input(type="text" id="state" name="state" value=missing.state)

        label(for="date") last Seen Date
        input(type="date" id="date" name="date" value=missing.timeMissing)

        label(for="phoneNumber") Phone Number?
        input(type="text" id="phoneNumber" name="phoneNumber" value=missing.phoneNum)

        label(for="email") Email?
        input(type="text" id="email" name="email" value=missing.email)