mixin missingCard(missing)

    div.card
        div.card-content
            div.top
                p= missing.name
            div.middle
                div.petImageContainer
                    img(class="petImage" src=missing.image)
                div.petDescription
                    p.description= missing.description // Description of pet, Suspected Breed, Color, Collar or not, etc.
            div.bottom
                div.missingInfo
                    p.address= missing.lastKnownAddress
                    p.city= missing.city
                    p.state= missing.state
                    p.date= missing.timeMissing
                    div.contactInfo
                        p.phoneNumber= missing.phoneNum
                        p.emailAddress= missing.email